@import "variables";
@import "partials/loading-screen";
@import "partials/bootstrap-overrides";
@import "partials/sidebar-nav";
@import "partials/kendo-overrides";
@import "partials/report-icons";
@import "partials/default-colors";

/******************************
 Context Colors
*******************************/

.danger {  color:$danger;  }

.warning {  color:$warning;  }

.success {  color:$success;  }

.info {  color:$info;  }

.primary {  color:$primary;  }


/******************************
 Table Fix Styles
*******************************/
@media (max-width:768px) {
  .table-responsive .input-group {
    width:200px;
  }
  .table-responsive input {
    width:200px;
  }
  .table-responsive .btn-group {
    width:100px;
  }
}
