/******************************
 Colors
*******************************/

$danger:        #d9534f;
$warning:       #f0ad4e;
$success:       #5cb85c;
$info:          #5bc0de;
$primary:       #428bca;


$shadow:        rgba(16, 140, 21, .125);
$dark-gray:     #444444;
$light-gray:    #eeeeee;
