/******************************
 Loading Page Styles
*******************************/
.page-splash-message {
  margin-top:70px;
}
.page-splash-message > * {
  margin:25px 0;
}
.page-splash-message > img {
  margin: 25px auto;
}