<!-- Custom Questions -->
<div ng-repeat="(key, question) in questions">
	<div class="row" ng-switch on="question.questionType" ng-if="question.active">
        <div class="form-group" 
				ng-switch-when="dropdown"
				ng-if"question.active">
            <label class="col-6 col-sm-6 col-lg-6 control-label" >{{question.questionText}}</label>
            <div class="col-6 col-sm-6 col-lg-6">
                <select class="form-control" 
						ng-model="answers[key]" 
						ng-options="o for o in question.qOptions" 
						ng-required="question.isRequired">
                	<option value="">-- choose --</option>
                </select>
            </div>
        </div>
    
        <div class="form-group" 
				ng-switch-when="radio"
				ng-if"question.active">
            <label class="col-6 col-sm-6 col-lg-6 control-label" >{{question.questionText}}</label>
            <div class="col-6 col-sm-6 col-lg-6">
                <div ng-repeat="o in question.qOptions">
                    <label class="radio-inline">
						<input type="radio" 
							name="raiod-{{question.id}}"
							ng-model="answers[key]"
							ng-value="o"
							ng-required="$parent.isRequired"/>
						<span>{{o}}</span>
                    </label>
                </div>
             </div>
        </div>

        <div class="form-group" 
				ng-switch-when="text"
				ng-if"question.active">
            <label class="col-6 col-sm-6 col-lg-6 control-label" >{{question.questionText}}</label>
            <div class="col-6 col-sm-6 col-lg-6">
                <input type="text" class="form-control" 
					ng-model="answers[key]"
					ng-required="question.isRequired">
				</input>
             </div>
        </div>

        <div class="form-group" 
				ng-switch-when="checkbox">
            <label class="col-6 col-sm-6 col-lg-6 control-label">{{question.questionText}}</label>
			<div class="col-6 col-sm-6 col-lg-6">
                <input type="checkbox" 
					ng-model="answers[key]" 
					ng-required="question.isRequired">
				</input>
            </div>
		</div>
	</div>
</div>