/* app css stylesheet */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.navbar-nav > li > a.active {
  color:#444444;
}

.tooltip-inner {
  padding:10px;
}

.danger {
  color:#d9534f;
}

.warning {
  color:#f0ad4e;
}

.success {
  color:#5cb85c;
}

.info {
  color:#5bc0de;
}

.primary {
  color:#428bca;
}


/* Kendo Styles */
.k-grid-header .k-header, .k-grid-header .k-header .k-link {
  font-weight:bold !important;
  font-size:16px;
}

.k-grid-content a {
  font-weight:bold;
  color:#4e4e4e;
}

.k-grid-content a.btn-success,
.k-grid-content a.btn-info,
.k-grid-content a.btn-primary,
.k-grid-content a.btn-warning,
.k-grid-content a.btn-danger {
  color:#ffffff;
}
/* Loading Page */
.page-splash-message {
    margin-top:70px;
}
.page-splash-message > * {
    margin:25px 0;
}
.page-splash-message > img {
    margin:25px auto;
}

/* Report Layout */
.report-icons {
    overflow: hidden;
}

.report-icons > .report-icons-list {
    padding-left: 0;
    list-style: none;
}

.report-icons > .report-icons-list > li {
    float: left;
    width: 25%;
    margin:0 0 20px;
}

.report-icons > .report-icons-list > li > img.report-icon {
  display:inline-block;
}
.report-icons > .report-icons-list > li > h4.report-title {
  margin-top:10px;
  font-weight:bold;
}

/* Mobile */
@media (max-width:360px) {
  .kendo-chart {
    max-width:310px;
  }
}

@media (max-width:480px) {
  .kendo-chart {
    max-width:430px;
  }

}

@media (max-width:680px) {
  .kendo-chart {
    max-width:630px;
  }

}

@media (max-width:768px) {
  .report-icons > .report-icons-list > li {
    float:none;
    width:100% !important;
  }
  .kendo-chart {
    max-width:718px;
  }
  .table-responsive .input-group {
    width:200px;
  }
  .table-responsive input {
    width:200px;
  }
  .table-responsive .btn-group {
    width:100px;
  }
 }

/* Tablet devices */
@media (max-width:998px) {
  .report-icons > .report-icons-list > li {
    width: 50%;
  }
 }

/* End Report Layout */
