/* 4 Tile Layout */

.wrap {
  height: 100%;
  min-height: 100%;
  margin-bottom: -400px;
}

#push, #footer {
  height: 200px;
}
.nav.navbar-nav.navbar-right {
  padding-right:100px;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color:#FF4081;
}

.navbar .glyphicon {
  font-size:22px;
}

.logo {
  width:200px;
}

.badge {
  background-color:#5cb85c;
}

.profile-social .btn {
  padding: 6px 9px;
}

.jumbotron {
  margin-bottom:10px;
}

.street-team {
  color:#3F51B5;
}

.ambassador-badge {
  float:right;
  position:absolute;
  top: 20px;
  right: 30px;
}

.total-amount {
  font-size:28px;
  font-weight:bold;
}
.credit-card-header::before {
  content: url('../../Content/images/creditcards.png');
  padding:5px;
  height:19px;
  width:126px;
}

.agreement {
  font-size:12px;
}

.list-tile {
  border-top: 4px solid #3F51B5;
}

.list-tile img {
  width: 100%;
  max-width: 100%;
  border:2px solid #E0E0E0;
}

.list-desc-box {
  padding:10px;
  background: #FAFAFA;
  color: #757575;
  border: 1px solid #EEEEEE;
  -moz-box-shadow:    inset 0 0 10px #EEEEEE;
  -webkit-box-shadow: inset 0 0 10px #EEEEEE;
  box-shadow:         inset 0 0 10px #EEEEEE;
}

.list-desc-box h4 {
  color: #3F51B5;
}

/* Tile Layout */
.grid {
  padding: 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.grid li {
  display: inline-block;
  width: 265px;
  height:340px;
  margin: 0 0 20px;
  padding: 10px;
  text-align: left;
  position: relative;

}

.grid figure {
  margin: 0;
  position: relative;
  padding:10px 0 0;
}

.grid figure img {
  display: block;
  position: relative;
  border:2px solid #E0E0E0;
  margin: 0 auto;
}

.grid figcaption {
  text-align:center;
  position: absolute;
  top: 0;
  left: 0;
  padding:10px;
  background: #FAFAFA;
  color: #757575;
  font-size:12px;
  overflow-x:hidden;
  white-space:nowrap;
  border: 1px solid #EEEEEE;
  border-top: 4px solid #3F51B5;
  -moz-box-shadow:    inset 0 0 10px #EEEEEE;
  -webkit-box-shadow: inset 0 0 10px #EEEEEE;
  box-shadow:         inset 0 0 10px #EEEEEE;
}

.grid figcaption:hover {
  border-bottom: 4px solid #EEEEEE;
}

.grid figcaption span.event-info {
  display:inline-block;
  height: 17px;
  overflow-x:hidden;
}

.grid figcaption h4 {
  padding: 0;
  color: #3F51B5;
}

.grid figcaption a.btn {
  text-align: center;
  display: inline-block;
  margin-top:5px;
}

.pager .previous > a, .pager .previous > span {
  cursor: pointer;
}

.pager .next > a, .pager .next > span {
  cursor: pointer;
}

/* Hover Animation */
.event-tiles figure img {
  z-index: 10;
  height:140px;
  width:140px;


}

.event-tiles figcaption {
  height: 300px;
  width: 100%;
  text-align:center;
}

.event-tiles figcaption h4 {
  margin-top: 65%;
  white-space:normal;
  height:35px;
  font-size:16px;
}

/* Shopping Cart */

div.popover.fade.bottom.in {
  left:-170px !important;
  min-width:400px !important;
  max-width:500px !important;
}

.popover.bottom > .arrow {
  left:50% !important;
}

#cart-list > .table > tbody > tr > td{
  font-size:10px !important;
}

#cart-list > .table > tbody > tr > td > button.close.remove-item{
  font-size:15px !important;
  line-height:12px !important;
  color:#d9534f !important;
  opacity:.7 !important;
}

/* Listing Page */
.participant-list {
  list-style:none;
}

@media (max-width:768px) {
  .table-responsive .input-group {
	width:200px;
  }
  .table-responsive input {
	width:200px;
  }
  .table-responsive .btn-group {
	width:100px;
  }
}


@media screen and (max-width:660px) {
}

@media screen and (max-width: 480px) {
  .grid {
	padding: 10px 0 100px 0;
  }
  .grid li {
	width: 100%;
	min-width: 200px;
  }
  .event-tiles figcaption h4 {
	margin-top: 75%;
  }
  .event-tiles figcaption a {
	left: 20.5244%;
  }
  .grid figcaption span.event-info {
	width:160px;
  }
}


#footer {
  background-color:#424242;
  color:#757575;
  min-height: 200px;
  padding-top:30px;
}

#footer img {
  height:50px;
}

#footer hr { display: block; height: 1px;
  border: 0; border-top: 1px solid #666666;
  margin: 1em 0; padding: 0; }

#footer a {
  color:#757575;
}

#footer .support-link > a {
  color:#ffffff;
}

.has-error {
  color:#a94442;
}
