<section data-ng-controller="setaddon as vm">
  <div class="row-fluid">
    <div class="col-lg-12">
      <button ng-click="vm.cancel()" class="btn btn-danger btn-xs pull-right"><i class="glyphicon glyphicon-ban-circle"></i>&nbsp;Cancel</button>
    </div>
  </div>
  <div class="row-fluid">
    <form class="form-horizontal">
      <legend>Addon Setup</legend>
      <div class="col-lg-12 text-center">
        <div>
          <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-model="vm.addon.addonType" btn-radio="'owner'">Inclusive</button>
            <button type="button" class="btn btn-primary" ng-model="vm.addon.addonType" btn-radio="'event'">Event</button>
          </div>
        </div>
        <hr>
      </div>
      <div class="row-fluid">
        <!-- End Addon Type -->
        <div class="col-sm-6">
          <div class="form-group" ng-show="vm.addon.addonType === 'event'">
            <label for="addoncode" class="col-lg-6 control-label">Event:</label>
            <div class="col-lg-6">
              <select class="form-control" id="eventuredropdown" ng-model="vm.addon.eventureId" ng-options="e.id as e.name for e in vm.eventures">
                <option value="">-- Please Select --</option>
              </select>
            </div>
          </div>
          <!-- /field -->

          <div class="form-group">
            <label class="col-lg-6 control-label" for="addonvalue">Addon Name:</label>
            <div class="col-lg-6">
              <input id="addonname" type="text" class="form-control" ng-model="vm.addon.name" />
            </div>
          </div>
          <!-- /field -->

          <div class="form-group">
            <label class="col-lg-6 control-label" for="addonvalue">Addon Amount:</label>
            <div class="col-lg-6">
              <div class="input-group"> <span class="input-group-addon">$</span>
                <input id="addonvalue" type="number" class="form-control" placeholder="0.00" ng-model="vm.addon.amount" />
              </div>
            </div>
          </div>
          <!-- /field -->

          <div class="form-group">
            <label class="col-lg-6 control-label" for="addonvalue">Addon Description:</label>
            <div class="col-lg-6">
              <textarea class="form-control" id="test" rows="3" ng-model="vm.addon.addonDesc"></textarea>
            </div>
          </div>
          <!-- /field -->

        </div>
        <div class="col-sm-6">

          <div class="form-group">
            <label for="imagePath" class="col-lg-6 control-label">Image Upload:</label>
            <div class="col-lg-6">
              <button class="btn btn-primary" ng-file-select name="file" ng-file-change="vm.upload($files)" accept="image/*"><i class="fa fa-upload"></i>&nbsp;Upload Image</button>
              <br>
              <br>
              <input type="text" class="form-control" ng-model="vm.addon.imagePath" disabled />
              <p class="has-error">{{vm.errorMsg}}</p>
            </div>
          </div>
          <!-- /field -->

          <div class="form-group">
            <label for="" class="col-lg-6 control-label">Active Addon:</label>
            <div class="col-lg-6">
              <div class="btn-group">
                <button type="button" class="btn btn-default" ng-model="vm.addon.active" btn-radio="true">Yes</button>
                <button type="button" class="btn btn-default" ng-model="vm.addon.active" btn-radio="false">No</button>
              </div>
            </div>
          </div>
          <!-- /field -->
        </div>
      </div>
    </form>
  </div>
  <div class="row-fluid">
    <div class="col-lg-12">
      <button class="btn btn-success pull-right" ng-click="vm.saveAndNav()"><em class="glyphicon glyphicon-save"></em>&nbsp;Save Addon</button>
    </div>
  </div>
</section>
