<section ng-controller="dashboard as vm">
  <h1>Dashboard</h1>
  <hr>
  <div class="row-fluid text-center">
    <div class="col-lg-4">
      <div class="gauge-container">
        <span class="reg-gauge" kendo-radialgauge="vm.radialOne" k-scale="{ max: vm.capacityEventOne }"
        ng-model="vm.regsEventOne"></span>
        <span class="capacity-radial-info">{{vm.radialEventOneName}}</span>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="gauge-container">
        <span class="reg-gauge" kendo-radialgauge="vm.radialTwo" k-scale="{ max: vm.capacityEventTwo }"
        ng-model="vm.regsEventTwo"></span>
        <span class="capacity-radial-info">{{vm.radialEventTwoName}}</span>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="gauge-container">
        <span class="reg-gauge" kendo-radialgauge="vm.radialThree" k-scale="{ max: vm.capacityEventThree }"
        ng-model="vm.regsEventThree"></span>
        <span class="capacity-radial-info">{{vm.radialEventThreeName}}</span>
      </div>
    </div>
  </div>
  <!-- End Row -->
  <div class="row-fluid">
    <div class="col-lg-9">
      <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
        <ui-gmap-layer>
        </ui-gmap-layer>
      </ui-gmap-google-map>
    </div>
    <div class="col-lg-3">
      <div kendo-sparkline k-options="vm.chartOptions" k-series="[{
			type: 'pie',
			field: 'amount',
			categoryField: 'gender'
			}]" k-data-source="vm.gender" k-tooltip="{template: '${value} - ${category}'}"
      style="height:100px"></div>
    </div>
  </div>
</section>
