<section ng-controller="dashboard as vm">
  <div class="row-fluid">
    <div class="col-lg-12">
      <h3 class="dashboard-chart-title"><span>Capacities</span></h3>
      <div class="row">
        <div class="col-md-4">
          <div class="gauge-container">
            <span class="reg-gauge" kendo-radialgauge="vm.radialOne" k-scale="{ max: vm.capacityEventOne }"
            ng-model="vm.regsEventOne"></span>
            <span class="capacity-radial-info">{{vm.radialEventOneName}}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gauge-container">
            <span class="reg-gauge" kendo-radialgauge="vm.radialTwo" k-scale="{ max: vm.capacityEventTwo }"
            ng-model="vm.regsEventTwo"></span>
            <span class="capacity-radial-info">{{vm.radialEventTwoName}}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="gauge-container">
            <span class="reg-gauge" kendo-radialgauge="vm.radialThree" k-scale="{ max: vm.capacityEventThree }"
            ng-model="vm.regsEventThree"></span>
            <span class="capacity-radial-info">{{vm.radialEventThreeName}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <br>
  <br>
  <!-- End Row -->
  <div class="row-fluid">
    <div class="col-lg-8">
      <h3 class="dashboard-chart-title"><span>Zipcodes</span></h3>
      <div kendo-treemap k-options="vm.treeOptions" style="height: 500px; font-size: 12px;"></div>
    </div>
    <div class="col-lg-4">
      <h3 class="dashboard-chart-title"><span>Genders</span></h3>
      <div class="pie-container">
        <div kendo-chart k-series-defaults="{ type: 'pie' }" k-series="[{
			field: 'amount',
			categoryField: 'gender',
			padding: 0
			}]" k-options="vm.chartOptions" k-data-source="vm.gender" k-tooltip="{visible: true, template: '${category} - ${value}'}"></div>
        <h3 class="dashboard-chart-title"><span>Age Groups</span></h3>
        <div class="pie-container">
          <div kendo-chart k-series-defaults="{ type: 'pie' }" k-series="[{
			field: 'amount',
			categoryField: 'ageGroup',
			padding: 0
			}]" k-options="vm.chartOptions" k-data-source="vm.ageGroup" k-tooltip="{visible: true, template: '${category} - ${value}'}"></div>
        </div>
      </div>
      <!-- End Row -->
      <br>
      <br>
      <br>
      <br>
      <div class="row-fluid">
        <div class="col-lg-6">
          <!-- <div kendo-chart k-series-defaults="{ type: 'area' }" k-series="[ -->
          <!-- { field: 'amount', name: 'year' } -->
          <!-- ]" k-options="vm.chartOptions" k-data-source="vm.trend" k-tooltip="{visible: true}"></div> -->
        </div>
        <div class="col-lg-6">
          <!-- <div kendo-chart k-series-defaults="{ type: 'area' }" k-series="[ -->
          <!-- { field: 'amount', name: 'year' } -->
          <!-- ]" k-options="vm.chartOptions" k-data-source="vm.revenue" k-tooltip="{visible: true}"></div> -->
        </div>
      </div>

</section>
