<section ng-controller="sendemail as email">
  <div class="row">
    <div class="col-lg-12">
      <h1>Send Participant Email</h1>
      <p class="text-muted">Send important notifications to your participants.</p>
      <br>
      <div class=" text-center">
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-model="email.emailType" btn-radio="'eventure'">Send to Event</button>
          <button type="button" class="btn btn-default" ng-model="email.emailType" btn-radio="'listing'">Send to Listing</button>
          <button type="button" class="btn btn-default" ng-model="email.emailType" btn-radio="'all'">Send to All Participants</button>
          <button type="button" class="btn btn-default" ng-model="email.emailType" btn-radio="'volunteer'">Send to All Volunteers</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <form name="emailSubmittal" class="form-horizontal">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group" ng-if="email.emailType == 'eventure'">
          <label class="col-sm-4 control-label">Event:</label>
          <div class="col-sm-8">
            <select ng-model="email.eventure" class="form-control" id="eventuredropdown" ng-options="e.id as e.name for e in email.eventures" required>
              <option value="">-- Please Select --</option>
            </select>
          </div>
        </div>
        <!-- /field -->

        <div class="form-group" ng-if="email.emailType === 'listing'">
          <label class="col-sm-4 control-label">Event List:</label>
          <div class="col-sm-8">
            <select ng-model="email.listing" class="form-control" id="listdropdown" ng-options="l.id as l.name for l in email.listings" required>
              <option value="">-- Please Select --</option>
            </select>
          </div>
        </div>
        <!-- /field -->
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">CC:</label>
          <div class="col-sm-8 col-lg-8">
            <input type="text" class="form-control" ng-model="email.cc">
          </div>
        </div>
        <!-- /field -->
        <div class="form-group">
          <label class="col-sm-4 control-label">BCC:</label>
          <div class="col-sm-8 col-lg-8">
            <input type="text" class="form-control" ng-model="email.bcc">
          </div>
        </div>
        <!-- /field -->
      </div>
      <div class="col-sm-6">

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label for="EmailSubject" class="col-sm-2 control-label">Subject:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="email.subject" required>
          </div>
        </div>
      </div>
    </div>
    <br>
  </form>
  <div class="row">
    <div class="col-lg-12">
      <textarea kendo-editor ng-model="email.body" required></textarea>
      <br>
      <button class="btn btn-success pull-right hidden-xs" ng-disabled="!emailSubmittal.$valid" ng-click="email.sendMessage()"><i class="glyphicon glyphicon-send"></i>&nbsp;Send Email</button>
      <button class="btn btn-success btn-block hidden-sm hidden-lg"><i class="glyphicon glyphicon-send"></i>&nbsp;Send Email</button>
    </div>
  </div>
  <br>
  <div class="row" ng-if="email.response">
    <div class="col-lg-12">
      <div class="console-panel">
        <h6 class="delivery-log-heading">Mail Delivery Log</h6>
        <div class="console">
          <div ng-repeat="r in email.response">{{r}}</div>
        </div>
      </div>
    </div>
  </div>
</section>
