<section data-ng-controller="ownerController as vm">
	<div class="row-fluid">
		<div class="col-lg-12">
			<h1>Owner Setup</h1>
			<p class="text-muted">Manage your information.</p>
			<br>
			<tabset justified="true">
				<tab heading="Information">
					<br>
					<form class="form-horizontal">
						<div class="row-fluid">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-lg-6 control-label">Name</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.name" tooltip-placement="left" tooltip="Company Name" />
									</div>
								</div>
								<!--/field -->
								<!-- File Upload -->
								<div class="form-group">
									<label for="imagePath" class="col-lg-6 control-label">Image Upload:</label>
									<div class="col-lg-6">
										<button class="btn btn-primary" ng-file-select name="file" ng-file-change="vm.upload($files)" accept="image/*"><i class="fa fa-upload"></i>&nbsp;Upload Logo</button>
										<br>
										<br>
										<input type="text" class="form-control" ng-model="vm.owner.logoImageName" disabled />
										<p class="has-error">{{vm.errorMsg}}</p>
									</div>
								</div>
								<!-- /field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Confirm Email</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.email" tooltip-placement="left" tooltip="Order Confirmations Are Delivered Here" />
									</div>
								</div>
								<!--/field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Email Sender Address</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.sendMailEmailAddress" tooltip-placement="left" tooltip="Your Sent From Email Address" />
										<p class="help-block">Must be verified by our email service</p>
									</div>
								</div>
								<!-- /field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Email Subject</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.sendConfirmEmailSubject" tooltip-placement="left" tooltip="Registration Confirmation Email Subject" />
									</div>
								</div>
								<!--/field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Team Email Subject</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.sendConfirmTeamEmailSubject" tooltip-placement="left" tooltip="Team Registration Confirmation Email Subject" />
									</div>
								</div>
								<!--/field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Team Invite Email Subject</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.sendConfirmTeamInviteEmailSubject" tooltip-placement="left" tooltip="Team Invitation Email Subject" />
									</div>
								</div>
								<!--/field -->
								<!-- <div class="form-group">
                                    <label class="col-lg-6 control-label">Email Image HTML</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" ng-model="vm.owner.sendImageHtml" />
                                    </div>
                                </div -->
								<!--/field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Support Email</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.supportEmail" tooltip-placement="left" tooltip="Email Address for Support Request" />
									</div>
								</div>
								<!--/field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Support Phone</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.supportPhone" mask="(999) 999-9999" restrict="reject" tooltip-placement="left" tooltip="Phone Number For Support Requests" />
									</div>
								</div>
								<!--/field -->

							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-lg-6 control-label">Terms and Conditions</label>
									<div class="col-lg-6">
										<textarea class="form-control" rows="3" ng-model="vm.owner.termsText" tooltip-placement="left" tooltip="Your Terms & Conditions"></textarea>
									</div>
								</div>
								<!--/field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Refund Policy</label>
									<div class="col-lg-6">
										<textarea class="form-control" rows="3" ng-model="vm.owner.refundsText" tooltip-placement="left" tooltip="Your Refund Policy"></textarea>
									</div>
								</div>
								<!--/field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Main Color:</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.mainColor" placeholder="#555555" />
										<p class="help-block">Main navigation color.</p>
									</div>
								</div>
								<!--/field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Shade Color:</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.hoverColor" placeholder="#000000" />
										<p class="help-block">Darker hue of your main color.</p>
									</div>
								</div>
								<!--/field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Highlight Color:</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.highlightColor" placeholder="#FFFFFF" />
										<p class="help-block">Contrast color of your main color.</p>
									</div>
								</div>
								<!--/field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Navigation Text Color:</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.navTextColor" placeholder="#FFFFFF" />
										<p class="help-block">Color of the text in the navigation.</p>
									</div>
								</div>
								<!--/field -->
							</div>
						</div>
					</form>
					<div class="row-fluid">
						<div class="col-lg-12">
							<button class="btn btn-success pull-right" ng-click="vm.saveAndNav()">Save Changes</button>
						</div>
					</div>
				</tab>
				<!-- end Information -->

				<tab heading="Options">
					<br>
					<form class="form-horizontal">
						<div class="row-fluid">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="SingleFee" class="col-lg-6 control-label">Single Fee for all Registrations:</label>
									<div class="col-lg-6">
										<div class="btn-group">
											<button type="button" class="btn btn-default" ng-model="vm.owner.isAddSingleFeeForAllRegs" btn-radio="true">Yes</button>
											<button type="button" class="btn btn-default" ng-model="vm.owner.isAddSingleFeeForAllRegs" btn-radio="false">No</button>
										</div>
									</div>
								</div>
								<div ng-show="vm.owner.isAddSingleFeeForAllRegs === true">
									<div class="form-group">
										<label for="SingleFeeType" class="col-lg-4 control-label">Single Fee Type:</label>
										<div class="col-lg-8">
											<div class="btn-group">
												<button type="button" class="btn btn-primary" ng-model="vm.owner.addSingleFeeType" btn-radio="'percent'">Percent</button>
												<button type="button" class="btn btn-primary" ng-model="vm.owner.addSingleFeeType" btn-radio="'flat'">Flat</button>
												<button type="button" class="btn btn-primary" ng-model="vm.owner.addSingleFeeType" btn-radio="'both'">Percent & Flat</button>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group" ng-if="(vm.owner.addSingleFeeType === 'percent' || vm.owner.addSingleFeeType === 'both') && vm.owner.isAddSingleFeeForAllRegs === true">
									<label class="col-lg-6 control-label">Single Fee Cart Rule Percent</label>
									<div class="col-lg-6">
										<input type="number" class="form-control" step="any" ng-model="vm.owner.addSingleFeeForAllRegsPercent" />
									</div>
								</div>
								<!--/field -->
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="MultiDiscount" class="col-lg-6 control-label">Allow Duplicate Orders:</label>
									<div class="col-lg-6">
										<div class="btn-group">
											<button type="button" class="btn btn-default" ng-model="vm.owner.isDuplicateOrderAllowed" btn-radio="true">Yes</button>
											<button type="button" class="btn btn-default" ng-model="vm.owner.isDuplicateOrderAllowed" btn-radio="false">No</button>
										</div>
									</div>
								</div>
								<!--/field -->
								<div class="form-group">
									<label for="MultiDiscount" class="col-lg-6 control-label">Show Registrations On Profile:</label>
									<div class="col-lg-6">
										<div class="btn-group">
											<button type="button" class="btn btn-default" ng-model="vm.owner.isRegistrationOnProfile" btn-radio="true">Yes</button>
											<button type="button" class="btn btn-default" ng-model="vm.owner.isRegistrationOnProfile" btn-radio="false">No</button>
										</div>
									</div>
								</div>
								<!--/field -->
								<div class="form-group">
									<label for="MultiDiscount" class="col-lg-6 control-label">Show Team Registrations On Profile:</label>
									<div class="col-lg-6">
										<div class="btn-group">
											<button type="button" class="btn btn-default" ng-model="vm.owner.isTeamRegistrationOnProfile" btn-radio="true">Yes</button>
											<button type="button" class="btn btn-default" ng-model="vm.owner.isTeamRegistrationOnProfile" btn-radio="false">No</button>
										</div>
									</div>
								</div>
								<!--/field -->
								<div class="form-group">
									<label for="MultiDiscount" class="col-lg-6 control-label">Show Participants On Profile:</label>
									<div class="col-lg-6">
										<div class="btn-group">
											<button type="button" class="btn btn-default" ng-model="vm.owner.isParticipantOnProfile" btn-radio="true">Yes</button>
											<button type="button" class="btn btn-default" ng-model="vm.owner.isParticipantOnProfile" btn-radio="false">No</button>
										</div>
									</div>
								</div>
								<!--/field -->
								<div class="form-group">
									<label for="MultiDiscount" class="col-lg-6 control-label">Show Captain On Profile:</label>
									<div class="col-lg-6">
										<div class="btn-group">
											<button type="button" class="btn btn-default" ng-model="vm.owner.isCaptainOnProfile" btn-radio="true">Yes</button>
											<button type="button" class="btn btn-default" ng-model="vm.owner.isCaptainOnProfile" btn-radio="false">No</button>
										</div>
									</div>
								</div>
								<!--/field -->
							</div>
						</div>
					</form>
					<div class="row-fluid">
						<div class="col-lg-12">
							<button class="btn btn-success pull-right" ng-click="vm.saveAndNav()">Save Changes</button>
						</div>
					</div>
				</tab>
				<!-- end Cart Rules -->

				<tab heading="Registration Customizations">
					<br>
					<form class="form-horizontal">
						<div class="row-fluid">
							<div class="col-lg-6">
								<div class="form-group">
									<label class="col-lg-6 control-label">Name For Event</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.eventureName" tooltip-placement="left" tooltip="Your Name For Events" />
									</div>
								</div>
								<!--/field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Name For Listing</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.listingName" tooltip-placement="left" tooltip="Your Name For Listings" />
									</div>
								</div>
								<!--/field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Name For Group</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.groupName" tooltip-placement="left" tooltip="Your Name For Groups" />
									</div>
								</div>
								<!--/field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Event Statement</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.eventStatement" tooltip-placement="left" tooltip="How You Instruct Users To Choose An Event" />
									</div>
								</div>
								<!-- /field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">List Statement</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.listStatement" tooltip-placement="left" tooltip="How You Instruct Users To Choose A Listing" />
									</div>
								</div>
								<!-- /field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Addon Statement</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.addonSatement" tooltip-placement="left" tooltip="How You Instruct Users To Choose An Addon" />
									</div>
								</div>
								<!-- /field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Participant Button Text</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.participantButtonText" tooltip-placement="left" tooltip="Your Text For Adding Participants" />
									</div>
								</div>
								<!-- /field -->
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label class="col-lg-6 control-label">Register Button Text</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.registerButtonText" tooltip-placement="left" tooltip="Your Verb For Registration" />
									</div>
								</div>
								<!-- /field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Checkout Button Text</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.confirmButtonText" tooltip-placement="left" tooltip="Your Verb For Checkout" />
									</div>
								</div>
								<!-- /field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Stripe Button Text</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.stripeCheckoutButtonText" tooltip-placement="left" tooltip="Your Text For The Pay Button" />
									</div>
								</div>
								<!--/field -->
								<div class="form-group">
									<label class="col-lg-6 control-label">Stripe Order Description</label>
									<div class="col-lg-6">
										<input type="text" class="form-control" ng-model="vm.owner.stripeOrderDescription" tooltip-placement="left" tooltip="Your Noun For An Order" />
									</div>
								</div>
								<!--/field -->
								<div class="row-fluid">
									<div class="col-lg-12">
										<button class="btn btn-success pull-right" ng-click="vm.saveAndNav()">Save Changes</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</tab>

				<tab heading="Reporting">
					<div class="row-fluid">
						<div class="col-lg-12">
							<h3>Reports</h3>
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Name</th>
											<th>Report URL</th>
											<th>Icon Image</th>
											<th class="text-center">Active</th>
											<th />
											<th />
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<input type="text" class="form-control" />
											</td>
											<td>
												<input type="text" class="form-control" />
											</td>
											<td>
												<input type="text" class="form-control" />
											</td>
											<td class="text-center">
												<div class="btn-group">
													<button type="button" class="btn btn-default" ng-model="radioModel" btn-radio="'Yes'">Yes</button>
													<button type="button" class="btn btn-default" ng-model="radioModel" btn-radio="'No'">No</button>
												</div>
											</td>
											<td>
												<input type="hidden" class="form-control" data-bind="value: ownerId" />
											</td>
											<td>
												<input type="hidden" data-bind="value: id" />
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<button class="btn btn-primary" data-bind="click: $parent.clickAddReport" type="button">Add Report</button>
						</div>
					</div>
					<div class="row-fluid">
						<div class="col-lg-12">
							<button class="btn btn-success pull-right" ng-click="vm.saveAndNav()">Save Changes</button>
						</div>
					</div>
				</tab>
				<!-- end Reporting -->


				<tab heading="Payment & Technical">
					<br>
					<div nra-auth="'super-user'">
						<form class="form-horizontal">
							<div class="row-fluid">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-lg-6 control-label">Id</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" disabled ng-model="vm.owner.id" />
										</div>
									</div>
									<!--/field -->
									<div class="form-group">
										<label class="col-lg-6 control-label">Owner GUID</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" disabled ng-model="vm.owner.ownerGuid" />
										</div>
									</div>
									<!--/field -->
									<div class="form-group">
										<label class="col-lg-6 control-label">Access Token</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" disabled ng-model="vm.owner.accessToken" />
										</div>
									</div>
									<!--/field -->
									<div class="form-group">
										<label class="col-lg-6 control-label">Refresh Token</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" disabled ng-model="vm.owner.refreshToken" />
										</div>
									</div>
									<!--/field -->
									<div class="form-group">
										<label class="col-lg-6 control-label">Stripe Publishable Key</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" disabled ng-model="vm.owner.stripePublishableKey" />
										</div>
									</div>
									<!--/field -->
									<div class="form-group">
										<label class="col-lg-6 control-label">Stripe User Id</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" disabled ng-model="vm.owner.stripeUserId" />
										</div>
									</div>
									<!--/field -->
									<div class="form-group">
										<label class="col-lg-6 control-label">Scope</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" disabled ng-model="vm.owner.scope" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-6 control-label">Facebook App ID</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" disabled ng-model="vm.owner.facebookAppId" />
										</div>
									</div>
									<!--/field -->
									<div class="form-group">
										<label class="col-lg-6 control-label">Facebook App Secret ID</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" disabled ng-model="vm.owner.facebookAppSecretId" />
										</div>
									</div>
									<!--/field -->
									<div class="form-group">
										<label for="StripeConnect" class="col-lg-6 control-label">Stripe Connect Live:</label>
										<div class="col-lg-6">
											<div class="btn-group">
												<button type="button" ng-if="vm.owner.livemode === true" class="btn btn-default" ng-model="vm.owner.livemode" btn-radio="true" disabled>Yes</button>
												<button type="button" ng-if="vm.owner.livemode === false" class="btn btn-default" ng-model="vm.owner.livemode" btn-radio="false" disabled>No</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-lg-6 control-label">Card Processor Fee Percent</label>
										<div class="col-lg-6">
											<input type="number" class="form-control" step="any" ng-model="vm.owner.cardProcessorFeePercentPerCharge" />
										</div>
									</div>
									<!--/field -->
									<div class="form-group">
										<label class="col-lg-6 control-label">Card Processor Fee In Cents</label>
										<div class="col-lg-6">
											<input type="number" class="form-control" step="any" ng-model="vm.owner.cardProcessorFeeFlatPerChargeInCents" />
										</div>
									</div>
									<!--/field -->
									<div class="form-group">
										<label class="col-lg-6 control-label">Local Fee Percent Of Charge</label>
										<div class="col-lg-6">
											<input type="number" class="form-control" step="any" ng-model="vm.owner.localFeePercentOfCharge" />
										</div>
									</div>
									<!--/field -->
									<div class="form-group">
										<label class="col-lg-6 control-label">Local Fee In Cents</label>
										<div class="col-lg-6">
											<input type="number" class="form-control" step="any" ng-model="vm.owner.localFeeFlatPerChargeInCents" />
										</div>
									</div>
									<!--/field -->
									<div class="form-group">
										<label class="col-lg-6 control-label">Website URL</label>
										<div class="col-lg-6">
											<input type="text" class="form-control" ng-model="vm.owner.url" />
										</div>
									</div>
									<!--/field -->
									<p class="text-right">
										<button class="btn btn-danger" ng-click="vm.stripeConnect()">Connect with Stripe</button>
										<br>
										<br>
										<button class="btn btn-warning" ng-click="vm.stripeDevConnect()">Connect with Stripe Dev</button>
									</p>
								</div>
							</div>
						</form>
						<div class="row-fluid">
							<div class="col-lg-12">
								<button class="btn btn-success pull-right" ng-click="vm.saveAndNav()">Save Changes</button>
							</div>
						</div>
					</div>
				</tab>

				<!-- end Payment & Technical -->

			</tabset>
		</div>
	</div>
</section>
