<section ng-controller="SetRefundController as vm">
	<div class="row-fluid">
		<div class="col-lg-12">
			<button ng-click="vm.cancel()" class="btn btn-danger btn-xs pull-right"><i class="glyphicon glyphicon-ban-circle"></i>&nbsp;Cancel</button>
		</div>
	</div>
	<form>
		<legend>Issue A Refund</legend>
		<div class="row-fluid">
			<div class="col-lg-12 text-center">
				<div>
					<div class="btn-group">
						<button type="button" class="btn btn-primary" ng-model="vm.source.refundType" btn-radio="'order'">Order Refund</button>
						<button type="button" class="btn btn-primary" ng-model="vm.source.refundType" btn-radio="'reg'">Registration Refund</button>
						<button type="button" class="btn btn-primary" ng-model="vm.source.refundType" btn-radio="'partial'">Partial Refund</button>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row-fluid">
			<div class="col-lg-12">
				<div class="alert" ng-class="{'alert-success': vm.success, 'alert-danger': vm.error}" ng-if="vm.success || vm.error" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
					</button>
					<strong ng-class="{success: vm.success, danger: vm.error}"><i ng-if="vm.error" class="glyphicon glyphicon-exclamation-sign"></i><i ng-if="vm.success" class="glyphicon glyphicon-ok-circle"></i>&nbsp; {{vm.status}}</strong>
				</div>
				<h4 class="text-center primary">A refund of the amount {{ vm.source.amount | currency }} will be issued to {{ vm.order.participant }}.</h4>
			</div>
		</div>
		<br>
		<div class="row-fluid">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="form-group" ng-if="vm.source.refundType === 'partial'">
					<label for="RefundAmount" class="control-label">Refund Amount:</label>
					<div class="input-group"> <span class="input-group-addon">$</span>
						<input type="number" class="form-control" name="RefundAmount" placeholder="0.00" ng-model="vm.source.amount" />
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="row-fluid">
		<div class="col-sm-4 col-sm-offset-4">
			<button class="btn btn-danger btn-block" ng-click="vm.refund()" ng-disabled="vm.refundDisabled"><em class="fa fa-warning"></em>&nbsp;Issue Refund</button>
		</div>
	</div>
</section>
