/******************************
 Report icon grid Styles
*******************************/
.report-icons {
  overflow: hidden;
}

.report-icons > .report-icons-list {
  padding-left: 0;
  list-style: none;
}

.report-icons > .report-icons-list > li {
  float: left;
  width: 25%;
  margin:0 0 20px;
}

.report-icons > .report-icons-list > li > img.report-icon {
  display:inline-block;
}
.report-icons > .report-icons-list > li > h4.report-title {
  margin-top:10px;
  font-weight:bold;
}

@media (max-width:768px) {
  .report-icons > .report-icons-list > li {
    float:none;
    width:100% !important;
  }
}

@media (max-width:998px) {
  .report-icons > .report-icons-list > li {
    width: 50%;
  }
}
