/******************************
Listing Tile
*******************************/
.list-tile img {
  width: 100%;
  max-width: 100%;
  border:2px solid #E0E0E0;
  max-height:200px;
}

.list-desc-box {
  padding:10px;
  background: #FAFAFA;
  color: #757575;
  border: 1px solid #EEEEEE;
  -moz-box-shadow:    inset 0 0 10px #EEEEEE;
  -webkit-box-shadow: inset 0 0 10px #EEEEEE;
  box-shadow:         inset 0 0 10px #EEEEEE;
}

/******************************
Participant
*******************************/
.participant-list {
  list-style:none;
}
