#footer {
  background-color:$dark-gray;
  color:lighten($dark-gray, 20);
  min-height: 200px;
  padding-top:30px;
}

#footer img {
  height:50px;
}

#footer hr { display: block; height: 1px;
  border: 0; border-top: 1px solid $dark-gray;
  margin: 1em 0; padding: 0; }

#footer a {
  color:lighten($dark-gray, 20);
}

#footer .support-link > a {
  color:#ffffff;
}