<nav class="navbar navbar-default" role="navigation" ng-controller="Header">
	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#reg-navbar"> 
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
			</button>
			<a class="navbar-brand" href="#/eventure">Louisville City FC</a> 
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="reg-navbar">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a class="hidden-xs hidden-sm visible-md visible-lg" ns-popover
						ns-popover-template="/app/registration/views/cart.part.html" 
						ns-popover-trigger="click" 
						ns-popover-theme="ns-popover-tooltip-theme" 
						ns-popover-placement="bottom"
						ns-popover-hide-on-click="false"
						ns-popover-timeout="5">
						<span class="badge pull-right">{{cart.registrations.length}}</span>
						<i class="glyphicon glyphicon-shopping-cart"></i>
						&nbsp;
					</a>
					<a class="visible-xs visible-sm hidden-md hidden-lg"><i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;<span class="badge">{{cart.registrations.length}}</span></a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="glyphicon glyphicon-cog"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#/user-profile">User Profile</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
