<div class="wrap" data-ng-controller="shell as vm">
	
	<div ng-show="vm.isBusy" style="position: absolute; top: 50%; left: 50%; right: 50%; z-index: 1000000">
		<div data-cc-spinner="vm.spinnerOptions" style="z-index: 1001"></div>
		<div style="background-color: #aaa; opacity: 0.6; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 1000"></div>
	</div>
	
    <div data-ng-include="'/app/registration/layout/header.html'"></div>

    <div ng-view></div>

    <div data-ng-include="'/app/registration/layout/footer.html'"></div>
</div>
