<div id="content" ng-controller="EventureListController">
	<div class="row">
		<div class="col-lg-12">
			<div class="shopping-cart-control">
				<a class="btn btn-warning" href="#/shoppingcart">View Cart&nbsp;<span class="badge">{{cart.registrations.length}}</span></a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-8 col-lg-8 col-md-push-4 clearfix">
			<div class="list-tile">
				<img ng-src="content/images/{{selection.imageFileName || 'list-default.jpg'}}" alt="img01">
				<div class="list-desc-box">
					<h4 class="text-center">{{selection.displayName}}</h4>
					<br>
					<p class="list-description text-center">{{selection.desc}}</p>
					<br>
					<div class="row">
						<div class="col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3">
							<a ng-click="register(eventure, selection, selectedParticipant)" class="btn btn-success btn-block hidden-xs">{{registerButtonText || 'Register'}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-lg-4 col-md-pull-8 clearfix">
			<h1 class="text-center">{{selection.currentFee | currency}}</h1>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{listName}}</h3>
				</div>
				<div class="panel-body">
					<p class="text-muted">{{listStatement}}.</p>
					<select class="form-control" ng-model="selection" ng-options="selection.name for selection in list"></select>
					<div ng-if="selection.isUSAT">
						<hr>
						<p>USAT Verification</p>
						<input type="text" class="form-control" ng-model="usatMembershipId" />
						<br>
						<button class="btn btn-info btn-block" ng-click="verifyUSAT()">Validate USAT Membership</button>
					</div>
				</div>
			</div>
			<hr>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Participants</h3>
				</div>
				<div class="panel-body">
					<p class="text-muted">Choose or add a new participant to your account.</p>
					<ul class="participant-list">
						<li class="participant">
							<div class="radio">
								<div ng-repeat="part in participants">
									<label for="participant-{{part.id}}">
										<input type="radio" name="participant" ng-value="part" ng-model="$parent.selectedParticipant" /> {{part.firstName}} {{part.lastName}}
									</label>
								</div>
							</div>
						</li>
					</ul>
					<hr>
					<a class="btn btn-primary btn-block" href="#/participant/add"><i class="fa fa-plus-square-o"></i>&nbsp;{{buttonText}}</a>
				</div>
			</div>
			<button ng-click="register(eventure, selection, selectedParticipant)" class="btn btn-success btn-block visible-xs">Register</button>
		</div>
	</div>
</div>
