<div ng-controller="ConfirmController">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Order Summary</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-lg-3">{{eventureName}}</th>
                            <th class="col-lg-3">{{listName}}</th>
                            <th class="col-lg-2">Participant</th>
                            <th class="col-lg-1">Price</th>
                            <th class="col-lg-2">Quantity</th>
                            <th class="col-lg-1">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody data-role="listview" ng-repeat="reg in cart.registrations">
                        <tr>
                            <td>{{ reg.displayEvent }}</td>
                            <td>{{ reg.displayList }}</td>
                            <td>{{ reg.name }}</td>
                            <td>{{ reg.fee | currency }}</td>
                            <td>{{ reg.quantity }}</td>
                            <td>{{ reg.lineTotal | currency }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped" ng-show="cart.surcharges">
                    <thead>
                        <tr>
                            <th class="col-lg-11">Description</th>
                            <th class="col-lg-1">Price</th>
                        </tr>
                    </thead>
                    <tbody data-role="listview">
                        <tr ng-repeat="charge in cart.surcharges">
                            <td>{{ charge.desc }}</td>
                            <td>{{ charge.amount | currency }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-5">
            <form class="form-horizontal">
                <input id="CouponCode" class="form-control" type="text" placeholder="Coupon Code" ng-model="couponCode" />
                <span class="has-error help-block">{{couponErrors}}</span>
                <br>
                <button class="btn btn-default btn-xs" ng-click="applyCoupon()">
                    <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Apply Coupon
                </button>
                <button class="btn btn-danger btn-xs" ng-click="removeCoupons()">
                    <i class="glyphicon glyphicon-minus-sign"></i>&nbsp;Remove Coupon
                </button>
            </form>
        </div>
        <div class="col-sm-7 text-right">
            <p class="total-amount">
                <em>Total:</em>&nbsp;{{ cart.getTotalPrice() | currency }}</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h3>Payment Information</h3>
            <p class="text-muted">We accept all major credit and debit cards</p>
            <img src="/Content/images/creditcards.png" />
            <hr>
            <p class="text-muted">Your card will be charged for the amount of
                <strong>{{ cart.getTotalPrice() | currency }}</strong>.</p>
            <p class="has-error">{{stripeError}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">

            <label class="checkbox agreement">
                <input type="checkbox" data-bind="checked: isTerms" ng-model="$parent.waiverSigned">
                <a ng-href="#/terms" target="_blank">I accept the Terms and Conditions and the Refund Policy</a>
            </label>
            <button type="button" class="btn btn-success btn-block" ng-disabled="(!$parent.waiverSigned) || ($parent.userPaying == 0 && !$parent.fullPaymentRequired) || ($parent.submitDisabled)" ng-click="checkout()">{{confirmButtonText}}
            </button>
        </div>
    </div>
</div>

<script type="text/ng-template" id="termsAndConditions.html">
    <div class="modal-header">
        <h3 class="modal-title">Terms and Conditions</h3>
    </div>
    <div class="modal-body">
        {{termsText}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="ok()">I Accept The Terms & Conditions</button>
    </div>
</script>

<script type="text/ng-template" id="refundPolicy.html">
    <div class="modal-header">
        <h3 class="modal-title">Refund Policy</h3>
    </div>
    <div class="modal-body">
        {{refundsText}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="ok()">I Accept The Refund Policy</button>
    </div>
</script>
