<div ng-controller="AddUserProfile">
	<div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1 class="text-center">{{title}}</h1>
				<hr>
			</div>
		</div>
		<ng-include src="'/app/registration/profile/participantForm.part.html'"></ng-include>
		<button class="btn btn-success pull-right hidden-xs hidden-sm" ng-click="submit()">{{buttonText || 'Save Changes'}}</button>
		<button class="btn btn-success btn-block hidden-md hidden-lg" ng-click="submit()">{{buttonText || 'Save Changes'}}</button>
	</div>
</div>
