@import "../bootstrap/_bootstrap";
@import "../base/_default-colors";
@import "../base/_bootstrap-overrides";
@import "../base/_kendo-overrides";
@import "../components/_index";
@import "_sidebar-nav";
@import "_email-console";
@import "_report-icons";


/******************************
 Table Fix Styles
*******************************/

@media (max-width: 768px) {
  .table-responsive .input-group {
    width: 200px;
  }
  .table-responsive input {
    width: 200px;
  }
  .table-responsive .btn-group {
    width: 100px;
  }
}
