
  <div class="container" id="content" ng-controller="CreateTeamController">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img class="logo" src="img/logo.png">
        <h3>Let's build your team.</h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h4>Team Name</h4>
       <!-- do we need to check for duplicate names?-->
        <input type="text" class="form-control" name="TeamName" id="TeamName" placeholder="Choose a name for your team."
            ng-model="teamName">
      </div>
    </div>
    <br>
    <div class="row">
      <form class="form-horizontal">
        <div class="col-lg-12">
          <legend>Invite Team Members</legend>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th />
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="player in players">
                <td>
                  <input ng-model="player.name" type="text" class="form-control" placeholder="Enter the full name of the person you would like to invite." />
                </td>
                <td>
                  <input ng-model="player.email" type="email" class="form-control" placeholder="Enter a valid email address for the person you would like to invite." />
                </td>
                <td>
                  <input type="hidden" class="form-control" />
                </td>
              </tr>
              <tr>
                <td>
                  <input ng-model="addName" type="text" class="form-control" placeholder="Enter the full name of the person you would like to invite." />
                </td>
                <td>
                  <input ng-model="addEmail" type="email" class="form-control" placeholder="Enter a valid email address for the person you would like to invite." />
                </td>
                <td>
                  <input type="hidden" class="form-control" />
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-primary" ng-click="addPlayer(addName, addEmail)">Add New Member</button>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-md-3 col-lg-2 col-md-offset-9 col-lg-offset-10 clearfix">
        <a href="#/team-payment" class="btn btn-success btn-block pull-right">Send Team Invitations</a>
      </div>
    </div>
  </div>
