<div ng-controller="AddTeamMemberProfile">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="logo" src="content/images/logo.png">
                <h1 class="text-center">{{title}}</h1>
                <hr>
            </div>
        </div>
        <ng-include src="'/app/registration/views/participantForm.part.html'"></ng-include>
        <button class="btn btn-success pull-right" ng-click="submit()">{{buttonText || 'Save Changes'}}</button>
    </div>
</div>
