<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <img class="logo" src="/Content/images/logo.png">
            <h1>Order Summary</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-lg-3">Event</th>
                            <th class="col-lg-3">Listing</th>
                            <th class="col-lg-2">Participant</th>
                            <th class="col-lg-1">Price</th>
                            <th class="col-lg-2">Quantity</th>
                            <th class="col-lg-1">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody data-role="listview" data-bind="foreach: cart.registrations">
                        <tr>
                            <td>{{ vm.displayEvent }}</td>
                            <td>{{ vm.displayList }}</td>
                            <td>{{ vm.name }}</td>
                            <td>{{ fee | currency }}</td>
                            <td>{{ quantity }}</td>
                            <td>{{ lineTotal | currency }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped" data-bind="visible: cart.surcharges().length > 0">
                    <thead>
                        <tr>
                            <th class="col-lg-11">Description</th>
                            <th class="col-lg-1">Price</th>
                        </tr>
                    </thead>
                    <tbody data-role="listview" data-bind="foreach: cart.surcharges">
                        <tr>
                            <td>{{ vm.desc }}</td>
                            <td>{{ vm.amount | currency }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-5">
            <form class="form-horizontal">
                <input id="CouponCode" class="form-control" type="text" placeholder="Coupon Code" />
                <br>
                <button class="btn btn-default btn-xs" ng-click="vm.applyCoupon"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Apply Coupon</button>
                <button class="btn btn-danger btn-xs" ng-click="vm.removeCoupons"><i class="glyphicon glyphicon-minus-sign"></i>&nbsp;Remove Coupon</button>
            </form>
        </div>
        <div class="col-sm-7 text-right">
            <p><em>Total:</em>&nbsp;{{ cart.getTotalPrice() | currency }}$34.00</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div ng-include="'/app/registration/payment.part.html'"></div>
        </div>
    </div>
</div>