<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img class="logo" src="/content/images/logo.png">
      </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">{{title || 'Account Profile Information'}}</h1>
            <p class="text-center text-muted">{{subTitle || 'Creating your account is easy, just provide the info below once and you will never have to enter it again.'}}</p>
            <hr>
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="FirstName" class="col-lg-5 control-label">First Name</label>
                            <div class="col-lg-7">
                                <input type="text" name="FirstName" class="form-control" ng-model="participant.firstName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="LastName" class="col-lg-5 control-label">Last Name</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" name="LastName" ng-model="participant.lastName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Birthdate" class="col-lg-5 control-label">Date Of Birth</label>
                            <div class="col-lg-7">
								<div class="input-group">
								 <!-- <datepicker ng-model="participant.dateBirth" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker> -->
                                <!-- <input class="form-control" name="Birthdate" ng-model="participant.dateBirth" date-input required> -->
									<input type="text" class="form-control" 
										datepicker-popup="{{format}}" 
										ng-model="participant.dateBirth" 
										is-open="datePicker.opened" 
										min-date="minDate" 
										max-date="'2015-06-22'" 
										datepicker-options="dateOptions" 
										date-disabled="disabled(date, mode)" 
										ng-required="true" 
										close-text="Close" 
										ng-click="datePicker.opened = true"/>
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Gender" class="col-lg-5 control-label">Gender</label>
                            <div class="col-lg-7">
                                <select class="form-control" name="Gender" ng-model="participant.gender" required>
                                    <option value="F">Female</option>
                                    <option value="M">Male</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EmailAddress" class="col-lg-5 control-label">Email Address</label>
                            <div class="col-lg-7">
                                <input type="email" class="form-control" id="EmailAddress" name="EmailAddress" 
									ng-model="participant.email" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="StreetAddress" class="col-lg-5 control-label">Street Address</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="StreetAddress" name="StreetAddress" 
									ng-model="participant.street1" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="City" class="col-lg-5 control-label">City</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="City" name="City" data-bind="value: city" 
									ng-model="participant.city" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="State" class="col-lg-5 control-label">State</label>
                            <div class="col-lg-7">
                                <select class="form-control" name="State" data-bind="value: state" ng-model="participant.state" required>
                                    <option value="AK">AK</option>
                                    <option value="AL">AL</option>
                                    <option value="AR">AR</option>
                                    <option value="AZ">AZ</option>
                                    <option value="CA">CA</option>
                                    <option value="CO">CO</option>
                                    <option value="CT">CT</option>
                                    <option value="DC">DC</option>
                                    <option value="DE">DE</option>
                                    <option value="FL">FL</option>
                                    <option value="GA">GA</option>
                                    <option value="HI">HI</option>
                                    <option value="IA">IA</option>
                                    <option value="ID">ID</option>
                                    <option value="IL">IL</option>
                                    <option value="IN">IN</option>
                                    <option value="KS">KS</option>
                                    <option value="KY">KY</option>
                                    <option value="LA">LA</option>
                                    <option value="MA">MA</option>
                                    <option value="MD">MD</option>
                                    <option value="ME">ME</option>
                                    <option value="MI">MI</option>
                                    <option value="MN">MN</option>
                                    <option value="MO">MO</option>
                                    <option value="MS">MS</option>
                                    <option value="MT">MT</option>
                                    <option value="NC">NC</option>
                                    <option value="ND">ND</option>
                                    <option value="NE">NE</option>
                                    <option value="NH">NH</option>
                                    <option value="NJ">NJ</option>
                                    <option value="NM">NM</option>
                                    <option value="NV">NV</option>
                                    <option value="NY">NY</option>
                                    <option value="OH">OH</option>
                                    <option value="OK">OK</option>
                                    <option value="OR">OR</option>
                                    <option value="PA">PA</option>
                                    <option value="RI">RI</option>
                                    <option value="SC">SC</option>
                                    <option value="SD">SD</option>
                                    <option value="TN">TN</option>
                                    <option value="TX">TX</option>
                                    <option value="UT">UT</option>
                                    <option value="VA">VA</option>
                                    <option value="VT">VT</option>
                                    <option value="WA">WA</option>
                                    <option value="WI">WI</option>
                                    <option value="WV">WV</option>
                                    <option value="WY">WY</option>
                                    <option value="AS">AS</option>
                                    <option value="GU">GU</option>
                                    <option value="MP">MP</option>
                                    <option value="PR">PR</option>
                                    <option value="VI">VI</option>
                                    <option value="CZ">CZ</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ZipCode" class="col-lg-5 control-label">Zip Code</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="ZipCode" name="ZipCode" minlength="5" 
									ng-model="participant.zip" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="CellPhone" class="col-lg-5 control-label">Cell Phone</label>
                            <div class="col-lg-7">
                                <input type="tel" class="form-control" id="CellPhone" name="CellPhone" ng-model="participant.phoneMobile" required>
                            </div>
                        </div>
                        <button class="btn btn-success pull-right" ng-click="submit()">{{buttonText || 'Save Changes'}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
