<div class="container" ng-controller="UserProfile">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1 class="highlight">Hello, {{ participant.firstName }}&nbsp;{{ participant.lastName }}</h1>
                <p class="lead text-muted">
                    Manage your Information, Registrations, and Associated Participants.
                </p>
                <hr>
            </div>
            <tabset justified="true">
                <tab heading="Personal Information">
                    <br>
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="FirstName" class="col-lg-5 control-label">First Name</label>
                                    <div class="col-lg-7">
                                        <input type="text" name="FirstName" class="form-control" ng-model="participant.firstName" placeholder="First Name" id="FirstName" required />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="LastName" class="col-lg-5 control-label">Last Name</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control" name="LastName" id="LastName" ng-model="participant.lastName" placeholder="Last Name" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Birthdate" class="col-lg-5 control-label">Date Of Birth</label>
                                    <div class="col-lg-7">
                                        <input id="dateBirth" class="form-control" name="Birthdate" ng-model="participant.dateBirth" placeholder="MM/DD/YYYY" required />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Gender" class="col-lg-5 control-label">Gender</label>
                                    <div class="col-lg-7">
                                        <select class="form-control" name="Gender" ng-model="participant.gender" required>
                                            <option value="0" disabled style="display: none;">Select</option>
                                            <option value="F">Female</option>
                                            <option value="M">Male</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="EmailAddress" class="col-lg-5 control-label">Email Address</label>
                                    <div class="col-lg-7">
                                        <input type="email" class="form-control" id="EmailAddress" name="EmailAddress" ng-model="participant.email" placeholder="Email Address" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="EmergencyContact" class="col-lg-5 control-label">Emergency Contact</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control" id="EmergencyContact" name="EmergencyContact" ng-model="participant.emergencyContact" placeholder="Emergency Contact" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="EmergencyPhone" class="col-lg-5 control-label">Emergency Phone</label>
                                    <div class="col-lg-7">
                                        <input type="tel" class="form-control" id="EmergencyPhone" name="EmergencyPhone" ng-model="participant.emergencyPhone" placeholder="Emergency Phone" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <label for="StreetAddress" class="col-lg-5 control-label">Street Address</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control" id="StreetAddress" name="StreetAddress" ng-model="participant.street1" placeholder="Street Address" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="City" class="col-lg-5 control-label">City</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control" id="City" name="City" ng-model="participant.city" placeholder="City" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="State" class="col-lg-5 control-label">State</label>
                                    <div class="col-lg-7">
                                        <select class="form-control" name="State" ng-model="participant.state" required>
                                            <option value="0" disabled style="display: none;">Select </option>
                                            <option value="AK">AK</option>
                                            <option value="AL">AL</option>
                                            <option value="AR">AR</option>
                                            <option value="AZ">AZ</option>
                                            <option value="CA">CA</option>
                                            <option value="CO">CO</option>
                                            <option value="CT">CT</option>
                                            <option value="DC">DC</option>
                                            <option value="DE">DE</option>
                                            <option value="FL">FL</option>
                                            <option value="GA">GA</option>
                                            <option value="HI">HI</option>
                                            <option value="IA">IA</option>
                                            <option value="ID">ID</option>
                                            <option value="IL">IL</option>
                                            <option value="IN">IN</option>
                                            <option value="KS">KS</option>
                                            <option value="KY">KY</option>
                                            <option value="LA">LA</option>
                                            <option value="MA">MA</option>
                                            <option value="MD">MD</option>
                                            <option value="ME">ME</option>
                                            <option value="MI">MI</option>
                                            <option value="MN">MN</option>
                                            <option value="MO">MO</option>
                                            <option value="MS">MS</option>
                                            <option value="MT">MT</option>
                                            <option value="NC">NC</option>
                                            <option value="ND">ND</option>
                                            <option value="NE">NE</option>
                                            <option value="NH">NH</option>
                                            <option value="NJ">NJ</option>
                                            <option value="NM">NM</option>
                                            <option value="NV">NV</option>
                                            <option value="NY">NY</option>
                                            <option value="OH">OH</option>
                                            <option value="OK">OK</option>
                                            <option value="OR">OR</option>
                                            <option value="PA">PA</option>
                                            <option value="RI">RI</option>
                                            <option value="SC">SC</option>
                                            <option value="SD">SD</option>
                                            <option value="TN">TN</option>
                                            <option value="TX">TX</option>
                                            <option value="UT">UT</option>
                                            <option value="VA">VA</option>
                                            <option value="VT">VT</option>
                                            <option value="WA">WA</option>
                                            <option value="WI">WI</option>
                                            <option value="WV">WV</option>
                                            <option value="WY">WY</option>
                                            <option value="AS">AS</option>
                                            <option value="GU">GU</option>
                                            <option value="MP">MP</option>
                                            <option value="PR">PR</option>
                                            <option value="VI">VI</option>
                                            <option value="CZ">CZ</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="ZipCode" class="col-lg-5 control-label">Zip Code</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control" id="ZipCode" name="ZipCode" minlength="5" ng-model="participant.zip" placeholder="Zipcode" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Country" class="col-lg-5 control-label">Country</label>
                                    <div class="col-lg-7">
                                        <input type="text" class="form-control" id="Country"ng-model="participant.country" placeholder="Country">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="HomePhone" class="col-lg-5 control-label">Home Phone</label>
                                    <div class="col-lg-7">
                                        <input type="tel" class="form-control" id="HomePhone" ng-model="participant.phone" placeholder="Home Phone">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="CellPhone" class="col-lg-5 control-label">Cell Phone</label>
                                    <div class="col-lg-7">
                                        <input type="tel" class="form-control" id="CellPhone" name="CellPhone" ng-model="participant.phoneMobile" placeholder="Mobile Phone" required>
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-lg-3 col-lg-offset-9">
                            <div class="pull-right">
                                <button class="btn btn-success" ng-click="save()" type="submit">Save Changes</button>
                                <br class="clearfix">
                            </div>
                        </div>
                    </div>
                </tab>
                <!-- Tab -->
                <tab heading="Registrations">
                <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="highlight">Open Registrations</h4>
                            <p class="text-muted">A list of open events you have registered for.</p>
                            <div id="openregistrationgrid"></div>
                        </div>
                    </div>
                    <br>
                </tab>
                <!-- Tab -->
                <tab heading="Team Registrations">
                <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="teamgrid" kendo-grid k-options="teamGridOptions"></div>
                        </div>
                    </div>
                </tab>
                <!-- Tab -->
                <tab heading="Associated Participants">
                <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="partgrid" kendo-grid k-options="participantGridOptions"></div>
                        </div>
                    </div>
                </tab>
                <!-- Tab -->
                <tab heading="Captain View">
                <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="captaingrid" kendo-grid k-options="captainGridOptions"></div>
                        </div>
                    </div>
                </tab>
                <!-- Tab -->
            </tabset>
            <!-- Tabs -->
            <div class="modal fade" id="shareModal" role="dialog" tabindex="-1" aria-hidden="true"></div>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="parttemplate">
  <div kendo-grid k-options="partDetailGridOptions(dataItem)"></div>
</script>

<script type="text/x-kendo-template" id="teamtemplate">
  <div kendo-grid k-options="teamDetailGridOptions(dataItem)"></div>
</script>

<script type="text/x-kendo-template" id="captaintemplate">
  <div kendo-grid k-options="captainDetailGridOptions(dataItem)"></div>
</script>
