<div class="container" ng-controller="QuestionsController">
    <div class="row">
        <div class="col-lg-12 text-center">
            <img class="logo" src="/content/images/logo.png">
            <h1>{{ cart.currentDisplayEvent }} &nbsp;<small>{{ cart.currentDisplayList }}</small></h1>
            <p class="text-muted">Please answer the questions below.</p>
            <hr>
        </div>
    </div>
    <br>
    <form class="form-horizontal">
		
		<!-- This is the original design for questions. -->
        <div class="row">
            <div class="col-sm-6">
                <!-- Stock Questions -->
                <div class="form-group">
                  <label for="T-Shirt" class="col-lg-6 control-label">T-Shirt Size:</label>
                  <div class="col-lg-6">
                    <select class="form-control" ng-model="questions.stockAnswerSet.shirtSize" required>
						<option value=""></option>
                        <option>Small</option>
                        <option>Medium</option>
                        <option>Large</option>
                        <option>X-Large</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="HowHear" class="col-lg-6 control-label">How Did You Hear About Us:</label>
                  <div class="col-lg-6">
                    <input type="text" class="form-control" name="HowHear" ng-model="questions.stockAnswerSet.howHear" required>
                  </div>
                </div>

            </div>
			
            <div class="col-sm-6">
				
                <!-- Custom Questions -->
				<div ng-repeat="question in customQuestions">
                    <div class="form-group" ng-show="question.type=='combo' && question.active">
                        <label class="col-6 col-sm-6 col-lg-6 control-label" >{{question.questionText}}</label>
                        <div class="col-6 col-sm-6 col-lg-6">
                            <select class="form-control" 
									ng-model="question.answer" 
									ng-options="o for o in question.options" 
									ng-required="question.required">
                            	<option value="">-- choose --</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group" ng-show="question.type=='radio' && question.active">
                        <label class="col-6 col-sm-6 col-lg-6 control-label" >{{question.questionText}}</label>
                        <div class="col-6 col-sm-6 col-lg-6">
                            <div ng-repeat="o in question.options">
                                <label class="radio-inline">
									<input type="radio" 
										ng-model="$parent.answer"
										ng-value="o"
										ng-required="$parent.required"/>
									<span>{{o}}</span>
                                </label>
                            </div>
                         </div>
                    </div>

                    <div class="form-group" ng-show="question.type=='text' && question.active">
                        <label class="col-6 col-sm-6 col-lg-6 control-label" >{{question.questionText}}</label>
                        <div class="col-6 col-sm-6 col-lg-6">
                            <input type="text" class="form-control" 
								ng-model="question.answer"
								ng-required="question.required">
							</input>
                         </div>
                    </div>

                    <div class="form-group" ng-show="question.type == 'checkbox' && question.active">
                        <label class="col-6 col-sm-6 col-lg-6 control-label">{{question.questionText}}</label>
						<div class="col-6 col-sm-6 col-lg-6">
                            <input type="checkbox" 
								ng-model="question.answer" 
								ng-required="question.required">
							</input>
                        </div>
					</div>
                </div>
				
				<!-- This is the original waiver stuff. -->
                <textarea class="form-control" name="Waiver" ng-model="waiver" disabled></textarea>
                <br>
                <div class="form-group">
                  <label for="WaiverAgree" class="col-xs-6 control-label">I Agree To The Waiver:</label>
                  <div class="col-xs-6">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default" ng-model="isWaiverChecked" btn-radio="true">Agree</button>
                      <button type="button" class="btn btn-default" ng-model="isWaiverChecked" btn-radio="false">Disagree</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
		
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-success pull-right" ng-disabled="notAllowedToContinue()" ng-click="next()">Next</button>
            </div>
        </div>
    </form>
</div>
