<section ng-controller="signupController">
    <form class="form-login" role="form">
        <div class="row">
            <div class="col-sm-2">
                &nbsp;
            </div>
            <div class="col-sm-4">
                <h2 class="form-login-heading">Sign up</h2>
                <div class="form-group">
                    <label for="UserName">Email Address</label>
                    <input type="text" class="form-control" placeholder="Email Address" data-ng-model="registration.userName" required autofocus>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>
                </div>
                <button class="btn btn-lg btn-success btn-block" type="submit" data-ng-click="signUp()">Create Account</button>
                <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                    {{message}}
                </div>
            </div>
            <div class="col-sm-4" ng-hide="isDash">
                <h2 class="form-login-heading">Social Logins</h2>
                <p>Or you can login using one of the social logins bleow</p>
                <button class="btn btn-social btn-facebook btn-block" type="button" data-ng-click="authExternalProvider('Facebook')"><i class="fa fa-facebook"></i>Connect with Facebook</button>
                <button class="btn btn-social btn-google-plus btn-block" type="button" data-ng-click="authExternalProvider('Google')"><i class="fa fa-google-plus"></i>Connect with Google</button>
            </div>
            <div class="col-sm-2">
                &nbsp;

            </div>
        </div>
    </form>
    <br>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center">Already Have An Account? <a href="#/login">Sign In Here!</a></h3>
        </div>
    </div>
</section>
