
<div ng-controller="TransferQuestions as transq">
	<div class="row">
		<div class="col-lg-12">
			<button ng-click="transq.cancel()" class="btn btn-danger btn-xs pull-right">
				<i class="glyphicon glyphicon-ban-circle"></i>
				&nbsp;Cancel
			</button>
		</div>
	</div>
	<div class="row">
	  	<form class="form-horizontal">
		    <legend >Registration Edit</legend>
		    <div class="col-sm-6">
				<h3>Questions</h3>
				<custom-questions questions="transq.model.transferQuestions" answers="transq.model.transferAnswers"></custom-questions>
				<button class="btn btn-success pull-right" ng-click="transq.submit()">
					<i class="glyphicon glyphicon-save"></i>
					&nbsp;Save
				</button>
		    </div>
		</form>
	</div>
</div>